@font-face {
	font-family: 'Ovo';
	font-display: swap;
	src: url('./fonts/ovo2.woff2') format('woff2'), url('./fonts/ovo2.woff') format('woff'),
		url('./fonts/ovo2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
